<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortened</title>
  </head>
  <body>
    <h1>URL Shortened</h1>
    <p>Your short URL is: <a href="<%= short_url %>"><%= short_url %></a></p>
  </body>
</html>
